<a href="https://colab.research.google.com/github/asyhar22/webscrap/blob/main/twitter_scrap.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Scrapping Data Twitter Menggunakan Snscrape
by Muhammad Asyhar

###Install & import library

In [ ]:
!pip3 install snscrape
import snscrape.modules.twitter as sntwitter
import pandas as pd

###Scrapper Engine dan Parameter

In [12]:
# Parameter
keyword = 'Gempa'
start_date = '2023-01-01'
end_date = '2023-01-15'
max_tweet = 10

# Scrapper Engine
scraper = sntwitter.TwitterSearchScraper(f'{keyword} since:{start_date} until:{end_date}').get_items()

###Membuat list

In [13]:
tweet_list = []

for i, tweet in enumerate(scraper):
  if i==max_tweet:
    break
  tweet_list.append([tweet.date, tweet.id, tweet.user.username, tweet.content])

tweet_list

<ipython-input-13-453e71269a08>:6: FutureWarning: content is deprecated, use rawContent instead
  tweet_list.append([tweet.date, tweet.id, tweet.user.username, tweet.content])

[[datetime.datetime(2023, 1, 14, 23, 59, 48, tzinfo=datetime.timezone.utc),
  1614411993792024577,
  'irs8087',
  'Ko berasa gempa'],
 [datetime.datetime(2023, 1, 14, 23, 56, 50, tzinfo=datetime.timezone.utc),
  1614411249760239616,
  'amaliacitranovi',
  'Siaga Tsunami di Maluku Imbas Gempa 7,9 M, Apa yang Harus Dilakukan Saat Genting? Inilah Tips Siaga Bencana https://t.co/yA60L0TJ2K'],
 [datetime.datetime(2023, 1, 14, 23, 56, 40, tzinfo=datetime.timezone.utc),
  1614411206273695745,
  'syiqfa',
  'Kaget yang Tangerang, karena seumur umur baru liat gempa yang pusatnya di sana. ðŸ˜­'],
 [datetime.datetime(2023, 1, 14, 23, 56, 35, tzinfo=datetime.timezone.utc),
  1614411184404594689,
  'soloposdotcom',
  'Gempa M 5,0 Guncang Bogor dan Tangerang dalam Waktu Hampir Bersamaan https://t.co/lyxwcpzpCf'],
 [datetime.datetime(2023, 1, 14, 23, 56, 32, tzinfo=datetime.timezone.utc),
  1614411174472486913,
  'infobmkgpapua',
  'Info Gempa Mag: 3.8, 15-Jan-23 08:51:21 WIT, Lok: 2.44 LS-140.68 BT (16 km TimurLaut KOTA-JAYAPURA-PAPUA), Kdlmn: 4 Km , dirasakan III MMI di Kota Jayapura :: BMKG-PGR-V https://t.co/iOeInezOTZ'],
 [datetime.datetime(2023, 1, 14, 23, 56, 3, tzinfo=datetime.timezone.utc),
  1614411052472733696,
  'Fardyantoo',
  'Ini jayapura kapan berhenti gempa :('],
 [datetime.datetime(2023, 1, 14, 23, 55, 18, tzinfo=datetime.timezone.utc),
  1614410860650237953,
  'SismoDetector',
  '#gempa dilaporkan oleh pengguna aplikasi Earthquake Network di 5km dari #Jayapura, Indonesia. 28 laporan dalam radius 24km. Unduh aplikasi dari https://t.co/hNdHhYeXVG untuk menerima peringatan waktu nyata https://t.co/ZDylfeeUxO'],
 [datetime.datetime(2023, 1, 14, 23, 53, 23, tzinfo=datetime.timezone.utc),
  1614410378632466433,
  'SismoDetector',
  '#gempa dilaporkan oleh pengguna aplikasi Earthquake Network di 5km dari #Jayapura, Indonesia. 12 laporan dalam radius 22km. Unduh aplikasi dari https://t.co/hNdHhYeXVG untuk menerima peringatan waktu nyata https://t.co/j5e31NIl47'],
 [datetime.datetime(2023, 1, 14, 23, 51, 55, tzinfo=datetime.timezone.utc),
  1614410011660410880,
  'llucalabii',
  'nice gempa'],
 [datetime.datetime(2023, 1, 14, 23, 51, 30, tzinfo=datetime.timezone.utc),
  1614409904646651906,
  'SismoDetector',
  '[23:51:28 UTC]  #gempa terdeteksi secara real time pada 4km dari #Jayapura, Indonesia. Unduh aplikasi Earthquake Network dari https://t.co/hNdHhYeXVG untuk menerima peringatan di ponsel cerdas Anda https://t.co/SmypBWETNh']]

###Membuat Data Frame

In [14]:
df = pd.DataFrame(tweet_list, columns=['DateTime', 'TweetId', 'Username', 'Text'])
df.head()

,DateTime,TweetId,Username,Text
0,2023-01-14 23:59:48+00:00,1614411993792024577,irs8087,Ko berasa gempa
1,2023-01-14 23:56:50+00:00,1614411249760239616,amaliacitranovi,"Siaga Tsunami di Maluku Imbas Gempa 7,9 M, Apa..."
2,2023-01-14 23:56:40+00:00,1614411206273695745,syiqfa,"Kaget yang Tangerang, karena seumur umur baru ..."
3,2023-01-14 23:56:35+00:00,1614411184404594689,soloposdotcom,"Gempa M 5,0 Guncang Bogor dan Tangerang dalam ..."
4,2023-01-14 23:56:32+00:00,1614411174472486913,infobmkgpapua,"Info Gempa Mag: 3.8, 15-Jan-23 08:51:21 WIT, L..."

##Terima kasih